
/* 

    You can write your own styles here...
    
*/
#navbarNav {
    justify-content: flex-end;
  }
#jumbotromElement{
    background-color: rgb(227, 227, 227);
  }  

#cardStyle{
    width: 18rem;
}  

.divCard{
    align-content: center;
}

.footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px; /* Altura del pie de página */
    background-color: #2e2d2d;
}

.card-group{
    align-items: center;
}

/*
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
